<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>{{action}} • To Do</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/logo.ico')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <script src="{{ url_for('static', filename='js/script.js')}}"></script>
</head>
<body>
    <div class="top_panel">
        <h3>To Do</h3>
    </div>

    <h3>Мой день</h3>

    <div class="container">
        <div class="gettask">
            <form action="/result" method="post">
                <div class="btn">
                    <button type="submit"></button>
                </div>
                <input type="text" name="input_value" placeholder="Добавить задачу">
            </form>
        </div>
        <div class="functionality"></div>
    </div>

</body>
</html>