<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if identifier%}
        <title>Sign In • To Do</title>
    {% else %}
        <title>Register • To Do</title>
    {% endif %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/logo.ico')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/registration.css')}}">
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet' type='text/css'/>
</head>
<body>
    <div class="regitration_field">
        {% if identifier%}
            <h1 class="register">Sign In - To Do</h1>
        {% else %}
            <h1 class="register">Register - To Do</h1>
        {% endif %}
        <div class="social_networks">
            <button class="facebook" style="font-family: Arial, FontAwesome;">&#xf09a;</button>
            <button class="twitter" style="font-family: Arial, FontAwesome;">&#xf099;</button>
            <button class="google_plus" style="font-family: Arial, FontAwesome;">&#xf0d5;</button>
        </div>
        <form action="/request-to-register" method="post">
            <div class="inputs">
                {% if identifier%}
                    <input autocomplete="off" type="text" class="name" name="name" placeholder="&#xf007; Name" style="font-family:Arial, FontAwesome; margin-top: 28px;">
                    <input type="password" class="password" name="password" placeholder="&#xf023; Password" style="font-family:Arial, FontAwesome; margin-bottom: 28px;">
                {% else %}
                    <input autocomplete="off" type="text" class="name" name="name" placeholder="&#xf007; Name" style="font-family:Arial, FontAwesome">
                    <input autocomplete="off" type="email" class="email" name="email" placeholder="&#xf003; Email" style="font-family:Arial, FontAwesome">
                    <input type="password" class="password" name="password" placeholder="&#xf023; Password" style="font-family:Arial, FontAwesome">
                {% endif %}
            </div>
            {% if identifier%}
                <button class="reg_button" type="submit">Sign In</button>
            {% else %}
                <button class="reg_button" type="submit">Register</button>
            {% endif %}
        </form>
    </div>
    <div class="laws">
        <p>TheSawe®</p>
    </div>
</body>
</html>